.productCards {
  display: flex;
  gap: 1rem;
  overflow: auto;
  margin-right: -1rem;
  padding-right: 1rem;

  li {
    width: 90%;
    min-width: 260px;
    height: 361px;
    border-radius: 5px;
  }
  @media (min-width: 900px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
}
