.title {
  font-family: var(--font-primary);
  font-weight: 700;
  color: var(--gray-600);

  &.one {
    font-size: 2.25rem;
    line-height: 2.125rem;
    color: #e60000;
  }

  &.two {
    font-size: 1.375rem;
    line-height: 1.5rem;
  }

  &.two.green {
    color: var(--color-primary);
  }
  &.three {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  &.three.white {
    color: #ffff;
  }
}

.paragraph {
  font-family: var(--font-primary);

  &.category {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    color: var(--grey-300);
  }

  &.search {
    font-weight: 400;
    font-size: 1rem;
    color: var(--grey-100);
  }

  &.priceCard {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: var(--color-primary);
  }

  &.priceCard.total {
    color: var(--gray-600);
  }

  &.priceCard.priceModal {
    color: var(--grey-300);
  }
}
