.cardItem {
  display: flex;
  position: relative;
  width: 100%;
  height: 80px;
  gap: 5px;

  .cardImage {
    width: 82px;
    height: 80px;
    background-color: var(--grey-100);
    border-radius: 0.3125rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    width: 55px;
    height: 53px;
  }

  .cardButton {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    button {
      color: var(--grey-400);
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
